target
.settings
.classpath
.project
.DS_Store
*.iml
*.ipr
*.iws
.idea
/config/.gitignore
/context/.gitignore
/core/.gitignore
/health/.gitignore
/metrics/.gitignore
/registry/.gitignore
/rest/.gitignore
/rules/.gitignore
/runtime/.gitignore
/web/.gitignore
*/bin
